body,
html {
	height: 100%;
	margin: 0;
	background: #efefef;
	overflow: hidden;
}

body {
	font-size: 12px;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: 600;
}

body > .wrap {
	display: flex;
	flex-direction: column;
	height: 100%;
}

body > .wrap > .inner {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
}

body.started #introduction,
body.started #questions,
body.started #result {
	transform: translate3d(0, -100%, 0);
}

body.started #questions {
	opacity: 1;
}

body.started.finished #questions,
body.started.finished #result {
	transform: translate3d(0, -200%, 0);
}

body.started.finished #result {
	opacity: 1;
}

#questions {
	padding: 1rem;
	box-sizing: border-box;
}

#questions,
#result {
	opacity: 0;
	transition: opacity 1s cubic-bezier(0, 0, .2, 1);
	will-change: opacity;
}

#introduction,
#questions,
#result {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	flex-shrink: 0;
	will-change: transform;
	transition: transform 1s cubic-bezier(0, 0, .2, 1);
}

#introduction,
#result {
	flex-direction: column;
}

#questions > .mdc-card {
	width: 100%;
	max-height: 100%;
}

#questions-slider {
	overflow: hidden;
	will-change: height;
	display: flex;
}

#questions-slider > .container {
	width: 100000%;
	display: flex;
	align-items: flex-start;
	transform: translate3d(0, 0, 0);
	transition: transform .5s cubic-bezier(0, 0, .2, 1);
	will-change: transform;
	flex-shrink: 0;
	background: #fff;
}

#questions-slider > .container:after {
	content: '';
	flex: 1;
}

#questions-slider > .container > section {
	width: 0.1%;
	max-height: 100%;
	overflow: auto;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

#questions-slider > .container > section.multiselect .row {
	margin-bottom: 12px;
	display: flex;
	align-items: center;
}

#questions-slider > .container > section.multiselect .row button.remove {
	margin-left: .5rem;
}

#questions-slider > .container > section h3 {
	padding-bottom: .75rem;
	position: relative;
	margin: 1rem 0;
}

.mdc-card__primary h1 {
	padding: 0;
}

.mdc-card__media {
	padding: 0;
	flex-shrink: 0;
}

.mdc-card__title {
	color: #fff;
}

.date-aligner {
	display: flex;
	align-items: flex-end;
	margin: 12px 0 0 0;
}

.date-aligner div {
	display: flex;
	flex-direction: column;
}

.date-aligner div .mdc-textfield + .mdc-textfield-helptext {
	margin-bottom: 0;
}

.date-aligner div .mdc-textfield {
	margin-top: 0 !important;
	margin-bottom: 2px;
	flex-direction: row;
}

.date-aligner button {
	margin-bottom: 8px;
	position: relative;
	top: -0.75rem;
	margin-left: .5rem;
}

.mdc-form-field > .mdc-checkbox ,
.mdc-form-field > .mdc-radio {
	top: -.375rem;
}

.mdc-form-field > .mdc-checkbox + label,
.mdc-form-field > .mdc-radio + label {
	position: relative;
	padding-bottom: .75rem;
}

.mdc-form-field > .mdc-checkbox.invalid + label:after,
.mdc-form-field > .mdc-radio.invalid + label:after,
section h3.error:after {
	content: attr(data-error);
	position: absolute;
	left: 0;
	bottom: 0;
	padding-left: 4px;
	font-size: .75rem;
	white-space: nowrap;
	line-height: 1;
	color: #d50000;
}

section h3.error:after {
	padding-left: 0;
	font-weight: 400;
	letter-spacing: 0.04em;
}

.card-content {
	padding: 24px 40px;
	flex: 1;
	overflow: auto;
}

.mdc-card__actions {
	border-top: 1px solid rgba(0,0,0,.1);
	display: flex;
	flex-shrink: 0;
	background: #fff;
}

.mdc-card__actions .w-60 {
	display: flex;
	flex-basis: 60%;
	align-items: center;
}

.mdc-card__actions .w-40 {
	display: flex;
	flex-basis: 40%;
	align-items: center;
	margin-left: .5em;
	justify-content: flex-end;
}

.mdc-card__actions .w-60 .mdc-linear-progress {
	width: auto;
	margin-left: .5em;
	flex: 1;
}

.mdc-card__actions .w-40 button {
	margin-left: .5em;
}

section .choices {
	text-align: left;
	padding: 0 16px;
}

#rights-profile-code,
#rights-profile-json {
	margin-bottom: 50px;
}

footer {
	padding: 2rem 5rem;
}

@media screen and (min-width: 1024px) {

	body {
		font-size: 16px;
	}

	#questions {
		padding: 4rem;
	}

	#questions > .mdc-card {
		width: 40vw;
	}

}
